@import url("_css/header.css");
@import url("_css/homePage.css");
@import url("_css/sobre.css");
@import url("_css/skill.css");
@import url("_css/portfolio.css");
@import url("_css/contato.css");

:root {
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --Azul-padrao: #00a5eb;
    --preto-degrade: linear-gradient(67.54deg, #000000 25.49%, #00355a 165.37%);
    --fonte-principal: "arial";
    --azul: #002F52;
    --fonte-secundario: "Josefin Sans";
    --preto: #131313;
    --cinza: #555555;
    --verde: #07c500;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}