.pageSobre{
	background-color: var(--preto);
	margin-top: 0vh;
	width: 100%;
	height: 690px;
}

.bar_01{
	background-color: black;
	position: relative;
	width: 99.4vw;
	height: 5vh;
}

.txtBar{
	color: var( --branco);
	text-align: center;
	align-items: center;
	font-size: 2em;
	font-weight: bold;
	font-family: var( --fonte-principal);
	padding-top: 0.2em;
}

.foto_perfil{
	margin-top: 4vh;
	margin-left: 20vh;
	width: 30em;
	height: 30em;
}

.txt_sobre{
	display: block;
	position: relative;
	margin-top: -30vh;
	margin-left: 80vh;
	font-size: 2em;
	color: var( --branco);
	font-family: var( --fonte-principal);
}

.txt_sobre_H1{
	display: block;
	position: absolute;
	margin-top: -10vh;
	margin-left: 0vh;
	font-size: 2em;
	color: var( --branco);
	font-family: var( --fonte-principal);
}

.txt_sobre_H3{
	display: block;
	position: absolute;
	margin-top: 18vh;
	margin-left: 0vh;
	font-size: 1.5em;
	margin-left: -30vw;
	color: var( --branco);
	font-family: var( --fonte-principal);
}

/*Dimenção em 1024px*/

@media screen and (max-width: 1024px){
}
/*Dimenção em 1728px*/

@media screen and (max-width: 1728px){
	.bar_01{
		width: 99.9vw;
	}
}